
.app-grid {
  display: grid;
  justify-content: center;
  margin-top: 50px;

  /* grid-template-columns: 10ch auto; */
  grid-template-columns: repeat(3, 200px);
  grid-row-gap: 50px;
  column-gap: 50px;

  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}